#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  width: fit-content;
  margin: 40px auto;
}

.game h1 {
  margin-bottom: 16px;
  user-select: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.cell {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  border: 2px solid #eee;
  border-radius: 5px;
  font-size: 48px;
  cursor: pointer;
  user-select: none;
}

.turn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 16px;
}

.turn .cell,
.winner .cell {
  border: none;
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.cell.is-selected {
  background-color: #09f;
}

.winner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(8px);
  display: grid;
  place-content: center;
}

.winner .modal {
  background-color: #111;
  height: fit-content;
  width: 320px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  border: 2px solid #eee;
  border-radius: 12px;
}

.winner .win {
  width: fit-content;
}

button {
  background-color: transparent;
  border: 2px solid #eee;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color .3s
}

button:hover {
  background-color: #eee;
  color: #111;
}