.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  font-size: 14px;
  font-weight: 700;
}

.filters>div {
  display: flex;
  gap: 1rem;
}

.range-value {
  width: 50px;
  text-align-last: left;
}